body {
    color:rgb(42, 40, 40);
    background-color: rgb(255, 255, 255);
    background-size: auto;
    text-align: center; 
  
}
.bande {
    display: flex;
    width : 100%;
    align-items : center;
    justify-content: center;

}

#a1 {border:4px solid rgba(19, 28, 0, 0.39);
    font-size:150%; 
    color : rgb(0, 0, 0);
    transition : font-size 1s;
    background-color: rgb(255, 255, 255);
    width:95%;
    margin : 0 auto
    
}

  

a {color: rgb(0, 52, 85);}

.paragraphes {
    background-image : linear-gradient(to bottom right, rgb(222, 224, 226), rgb(177, 192, 205));
    border: 2px solid rgb(77, 77, 182);
    height : 160px;
    box-sizing: border-box;
    transition :  border 1s, height 1s, background-color 1s;
    border-radius: 10px;
    width : 90%;
    margin: 0 auto
   }
/*.paragraphes:hover {background-color: rgb(20, 52, 81);
    border: 4px solid rgb(204, 40, 38);
    height:300px;
   
*/
-->

img {
    background-attachment: scroll;
    width : 100%
}

button {
    color : rgb(3, 5, 4);
    background-color: rgb(200, 190, 190);
    width : 100px;
    height : 50px;
    margin-left : 3px;

}

button:hover {
    color : rgb(4, 4, 4);
    background-color: rgb(141, 136, 136);
    width : 100px


}

button:active {
    color : rgb(227, 232, 229);
    background-color: rgba(40, 39, 39, 0.911);
    width : 100px;
   


}

video {min-width: 100%;
    min-height:100%;
    right:0;
    bottom:0;
    position:fixed;
    z-index: -1
}

.bande_bas {
    background-color : rgb(99, 99, 198);
    color : white;
    height: 100px;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}

@media(max-width: 810px) {
  
    
}
