body {
    color:rgb(3, 10, 92);
    background-color: rgb(54, 200, 253);
    background-size: auto;
    text-align: center; 
}
#a1:hover {border:5px solid rgb(204, 40, 38);
    font-size:300%; 
    background-color: aliceblue;
}
#a1 {border:4px solid rgba(80, 116, 2, 0.39);
    font-size:300%; 
    background-color: aliceblue;
    
}

a {color: blue;}

#a2 {background-color: aliceblue;
    border: 2px solid tomato}
#a2:hover {background-color: aliceblue;
    border: 4px solid rgb(204, 40, 38)}

.paragraphes {background-color: aliceblue;
    border: 2px solid rgb(77, 77, 182);
 
   }
.paragraphes:hover {background-color: aliceblue;
    border: 4px solid rgb(204, 40, 38);

   
}

img {
    background-attachment: scroll;
    width : 100px
}

button {
    color : rgb(3, 5, 4);
    background-color: rgb(255, 255, 255);
    width : 100px


}

button:hover {
    color : rgb(227, 232, 229);
    background-color: rgb(24, 24, 24);
    width : 100px


}

button:active {
    color : rgb(227, 232, 229);
    background-color: rgba(242, 4, 4, 0.911);
    width : 100px


}